
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="lei">
   
    <title>用户</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/offcanvas.css" rel="stylesheet">
  </head>
  <body>
  	
  	<% include header.ejs %>
  	<div class="container">
  		<form class="form-horizontal" id='login-form'>
			  <div class="form-group">
			    <label for="uname" class="col-sm-2 control-label">用戶名</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" id="uname" placeholder="请输入您的用户名">
			    </div>
			    <div class="help-block col-sm-2"></div>
			  </div>
			  <div class="form-group">
			    <label for="upwd1" class="col-sm-2 control-label">密码</label>
			    <div class="col-sm-8">
			      <input type="password" class="form-control" id="upwd" placeholder="请输入您的密码">
			    </div>
			    <div class="help-block col-sm-2"></div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="button" class="btn btn-success" id='login'>登录</button>
			    </div>
			  </div>
		</form>
  	</div>
  	
	 <!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jQuery-2.2.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script type="text/javascript">


		
	$('#login').click(function(){
		$('.help-block').html('');
		var uname=$('#uname').val();
		var upwd=$('#upwd').val();
		if(!uname){
			$('#uname').parent().parent().children('.help-block').html('请填写用户名！');
			return;
		}else if(!upwd){
			$('#upwd').parent().parent().children('.help-block').html('请输入您的密码！');
			return;
		}
		var data={
			'uname':uname,
			'upwd':upwd,
		}
		$.post('/doLogin',data,function(result){
			console.log(result);
			if(result.result==-1){
				$('#uname').parent().parent().children('.help-block').html('该用户尚未注册！');
				return;
			}
			if(result.result==-2){
				$('#upwd').parent().parent().children('.help-block').html('密码输入错误！');
				return;
			}
		
			window.location='/';
		});
	});
	</script>
  </body>
</html>
